./task1_data/xrun_sim/qaLog.txt
./task1_data/xrun_sim/xrun.history
./task2_test/xrun_sim/qaLog.txt
./task2_test/xrun_sim/xrun.history
./task1_data/xrun_csh/xcelium.d/ -r
./task2_test/xrun_csh/xcelium.d/ -r